.main__gallery
    .main__gallery-item 
        img(src=require('@/images/gallery.png'), alt="").main__gallery-img
        span.main__gallery-span Photography
        p.main__gallery-text Helmut Lang celebrates taxi drivers worldwide in latest campaign
        a.main__gallery-btn(href="#!") By Alessandra Ortiz 
    .main__gallery-item 
        img(src=require('@/images/gallery2.png'), alt="").main__gallery-img
        span.main__gallery-span Photography
        p.main__gallery-text Bowlcut launch a new summer collection that pays homage to “UK legends”
        a.main__gallery-btn(href="#!") By Rosanna Ondricka
    .main__gallery-item 
        img(src=require('@/images/gallery3.png'), alt="").main__gallery-img
        span.main__gallery-span Photography
        p.main__gallery-text Thousands of previously unseen photographs by Andy Warhol will be made public this Autumn
        a.main__gallery-btn(href="#!") By Annie Lueilwitz 
    .main__gallery-item 
        img(src=require('@/images/gallery4.png'), alt="").main__gallery-img
        span.main__gallery-span Interactive Design
        p.main__gallery-text London-based Yinka Ilori’s storytelling furniture
        a.main__gallery-btn(href="#!") By Annie Lueilwitz 
    .main__gallery-item 
        img(src=require('@/images/gallery5.png'), alt="").main__gallery-img
        span.main__gallery-span Graphic Design
        p.main__gallery-text Anonymous Israeli art collective Broken Fingaz direct music video for U2 and Beck
        a.main__gallery-btn(href="#!") By Simeon Brekke 
    .main__gallery-item 
        img(src=require('@/images/gallery6.png'), alt="").main__gallery-img
        span.main__gallery-span Architecture
        p.main__gallery-text Suzanne Saroff’s meticulously arranged photographs alter perceptions
        a.main__gallery-btn(href="#!") By Reta Torphy 


    
    
        

                
            